{{#game}}
<form action="/update_game/{{id}}" method="post" id="player-registration-form">
    <div class="text-form">
        <label for="">Nome do time 01:</label>
        <input type="text" class="form-control" name="team_01_name" autocomplete="off" value="{{team_01_name}}">
    </div>
    <div class="text-form">
        <label for="">Nome do time 02:</label>
        <input type="text" class="form-control" name="team_02_name" autocomplete="off" value="{{team_02_name}}">
    </div>
    <div class="text-form">
        <label for="">Gols do time 01:</label>
        <input type="Number" class="form-control" name="team_01_goals" autocomplete="off" value="{{team_01_goals}}">
    </div>
    <div class="text-form">
        <label for="">Gols do time 02:</label>
        <input type="Number" class="form-control" name="team_02_goals" autocomplete="off" value="{{team_02_goals}}">
    </div>
    <div class="text-form">
        <label for="">Data do Jogo:</label>
        <input type="text" class="form-control" name="game_date" autocomplete="off" value="{{formatDate game_date}}">
    </div>
    <button type="submit" class="btn btn-success">Editar</button>
</form>
{{/game}}